*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-container-1{
    max-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    
    
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
}
.home-container-2{
    max-width: 100vw;
    width:calc(100% - 164px);
    padding:  50px 24px 0px 24px;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    background:linear-gradient(white 5%,rgba(111, 60, 134, 0.808) 50% , rgb(17, 17, 49)90% );
}
@media screen and (max-width: 760px) {
    .home-container-2 {
      max-width: 100%;
      width: 100%;
    }
  }
  